.tx-table {
  width:  unset;
}

.tx-table th:nth-child(2), 
.tx-table th:nth-child(3) {
  text-align: right;
}

.tx-table th:nth-child(4) {
  text-align: center;
}

.tx-table td:nth-child(5) {
  max-width: 15em;
}

.money {
  font-weight: bolder;
  text-align: right;
  font-family: monospace;
}

.tx-table .money.deposit {
  color: forestgreen;
}

.tx-table .summary {
  vertical-align: top;
  height: 5em;
}

.tx-table tbody:nth-child(odd) {
  background-color: aliceblue;
}

.tx-table .error {
  background-color: lavenderblush;
}

.MuiChip-label {
  height: 50%;
}



.summary .left-col {
  width: 50%;
}

.summary .right-col {
  width: 50%;
}


.tag-spending {
  position: relative;
  border-right: 1px solid rgba(0,0,0,0.12);
}

.tag-spending tbody tr th {
  --labels-size: 10em;
  width: 100%;
  height: 100%;
}

.tag-spending .chart-data-small,
.tag-spending .chart-data-large {
  white-space: nowrap;
}

.tag-spending .chart-data-small { margin-right: -3.5em; }
.tag-spending .chart-data-large { margin-right: 0.25em; }

.tag-spending .legend {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: fit-content;
  height: fit-content;
}

.summary .right-col {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.summary .right-col > * {
  height: 12em;
  margin-bottom: 1em;

  /* allows fixed positioning relative to the TABLE */
  transform: rotate(0deg);
}


.day-spending {
  --color: cornflowerblue;
}
.day-spending.charts-css.column tbody tr td {
  width: 3px;
}

.day-spending.charts-css.column tbody tr:hover {
  background-color: #AAA;
}
.day-spending.charts-css.column tbody tr:hover td {
  background-color: #F0F;
}

.data.top-left {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 2px solid black;
  padding: 0.25em;
  z-index: 10;
}

.day-spending .overspend {
  --color: orangered;
}

.day-spending .month-odd {
  background-color: #EEE;
}


.week-spending td {
  --color: cornflowerblue;
  border: 1px solid rgba(0,0,0,0.25) !important;
  border-collapse: collapse;
}

