
@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: true,
  $enable-classes: false,
  $theme-color: "sand"
);

@use "@picocss/pico/scss/colors" as *;


.test {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &> * { flex-grow: 0; }
    &> strong { flex-grow: 1; }

    progress {
      width: 2.5rem;
      margin-bottom: 0;
    }

    button {
      --theme-color: "slate";
      padding: 0;
      width: 2rem;
      height: 2rem;
    }
  }

  &.waiting header { background-color: $zinc-100; }
  &.running header { background-color: $amber-50; }
  &.passed header { background-color: $green-150; }
  &.failed header { background-color: $pink-300; }

  .results {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    &.expandLabels {
      flex-direction: column;
    }

    .result {
      display: flex;
      align-items: baseline;
      gap: 0.25rem;

      .result-indicator {
        width: 1rem;
        height: 1rem;

        border-radius: 20%;
        &:hover { border: 2px solid black; }

        &.passed { background-color: $green-150; }
        &.failed { background-color: $pink-300; }
      }
    }

  }
}